.form{
      display: flex;
      gap: 10px;
}

.form__input{      
      border: none;
      border-radius: 5px;
      padding: 5px 10px;

      background-color: lightgray;
      
      font-weight: bold;
}

.form__button{
      background-color: blue;

      border: none;
      border-radius: 5px;
      
      color: white;
      font-weight: bold;
}

.form__button:hover{
      background-color: green;
}

